@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif; }
  body .container {
    max-width: 1200px;
    margin: 0 auto; }
    body .container .title {
      margin: 24px 0; }
      body .container .title h1 {
        font-size: 30px;
        font-weight: bold;
        margin: 0; }
    body .container .content {
      display: flex;
      justify-content: center;
      margin: 24px 0;
      padding: 0 24px; }
      body .container .content .col {
        margin: 0 12px;
        width: 100%; }
        body .container .content .col .card {
          margin: 12px 0;
          background: #f1f1f1; }
          body .container .content .col .card .card-body {
            padding: 12px; }
            body .container .content .col .card .card-body .card-title h2 {
              font-size: 24px;
              font-weight: bold; }
            body .container .content .col .card .card-body .card-content {
              padding: 0 24px; }
              body .container .content .col .card .card-body .card-content p {
                font-size: 16px;
                font-weight: normal; }
